.header{
    display: flex;
    justify-content: space-between;
}

.home{
    background-image: url(../asset/home.png);
    background-size: 100% 100%;
    width: 90px;
    height: 90px;
    margin-top: 15px;

}
.logo{

    background-image: url(../asset/Beaudeii.png);
    background-size: 100% 100%;
    height: 120px;
    width: 130px;
    margin-top: 5px;

}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 60px;
    margin-right: 20px;
    margin-top: 5px;
    line-height: 100px;


}

.photo1{
    background-image: url(../asset/mask.png);
    background-size: 100% 100%;
    height: 450px;
    width: 400px;
    margin-top: 30px;
    margin-left: 40px;
}

.photo2{
    background-image: url(../asset/serumm.jpg);
    background-size: 100% 100%;
    height: 450px;
    width: 400px;
    margin-left: 450px;
    
}

.photo3{
    background-image: url(../asset/tonerr.jpg);
    background-size: 100% 100%;
    height: 450px;
    width: 400px;
    margin-left: 450px;
 

}


.word1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 20px;
    margin-top: 2px;
    margin-left: 100px;
    

}

.word2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 20px;
    margin-left: 50px;
    

}

.word3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 20px;
    margin-right: 160px;
    

}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer1{
    display: flex;
    justify-content: space-between;

}

.gambar1{
    background-image: url(../asset/tombol\ beli.png);
    background-size: 100% 100%;
    height: 60px;
    width: 170px;
    margin-top: 10px;
    margin-left: 135px;
}

.gambar2{
    background-image: url(../asset/tombol\ beli.png);
    background-size: 100% 100%;
    height: 60px;
    width: 170px;
    margin-top: 10px;
    margin-left: 40px;
}

.gambar3{
    background-image: url(../asset/tombol\ beli.png);
    background-size: 100% 100%;
    height: 60px;
    width: 170px;
    margin-top: 10px;
    margin-right: 200px;
   
}



body{

    background-image: url(../asset/bg\ promo.png);
    background-size: 100%;
}